data_dir: {{ vector_data_path }}

sources:
  file_logs:
    type: "file"
    include:
      - "/var/log/*.log"

sinks:
  console:
    type: "console"
    inputs:
      - "file_logs"
    encoding:
      codec: "json"